@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 343px/2);
        padding-right: calc(50% - 343px/2);
    }

    .header {
        padding-top: 32px;

        &__input {
            display: none;
        }
    }

    .menu {
        display: none;

        &-mob {
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }

    .logo {
        &__img {
            width: 99px;
        }

    }

    .title {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
    }

    .top {
        &__text {
            font-size: 16px;
            line-height: 32px;
        }

        &__link {
            font-size: 14px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .heading {
        font-size: 24px;
        line-height: 29px;
        margin-top: 16px;

        &__catalog {
            font-size: 24px;
            line-height: 29px;
            margin-top: 32px;
        }
    }

    .heading-big {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
    }

    .for {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        &-box {
            padding-top: 16px;
        }

        &__item {
            background-repeat: no-repeat;
            grid-column: 1 / -1;
            height: 375px;
            font-size: 28px;
            line-height: 34px;

            &_big {
                height: 244px;
            }
        }
    }

    .special {
        padding-top: 16px;
    }

    .product {
        width: 100%;
        &__content {
            row-gap: 32px;
        }

        &__heading {
            font-size: 18px;
            line-height: 22px;
        }

        &__price {
            font-size: 18px;
            line-height: 22px;
        }

        &__sale {
            font-size: 18px;
            line-height: 22px;
        }
    }

    .nav__filter {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .breadcrumbs__link {
        font-size: 14px;
    }

    .cart {
        margin-bottom: 16px;

        &__name-box {
            display: none;
        }

        &__img {
            display: none;
        }

        &__link-bottom {
            padding: 11px 9px;
            font-size: 12px;
            line-height: 15px;

            &-box {
                display: flex;
                justify-content: center;
            }
        }

        &__content {
            display: grid;
            grid-column: 1 / -1;

        }

        &__form {
            display: grid;
            grid-column: 1 / -1;
        }

        &__item {
            gap: 19px;
        }

        &__info {
            width: 253px;
        }

        &__product {

            &-heading {
                font-size: 18px;
                line-height: 22px;        
            }

            &-text {
                font-size: 12px;
                line-height: 15px;
            }

            &-price {
                font-size: 12px;
                line-height: 15px;
            }
            
        }
    }

    .order {
        &__form-box {
            display: flex;
            flex-direction: column;
            gap: 44px;
            padding-bottom: 64px;
            padding-left: 27px; 
            padding-right: 27px; 
        }
    }

    .footer {
        margin-top: 32px;
        padding-bottom: 32px;

        &__content {
            justify-content: center;
            gap: 34px;
        }

        &__info {
            gap: 100px;
        }
    }
}